{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% parent %}
<link rel="stylesheet" href="css/index.css">
<script src="js/index.js"></script>
{% endblock %}

{% block content %}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}